.skills{margin: 20px 0;}
.level{
margin: 10px 0;
display: flex;
align-items: center;


}
.indicator{
    flex: 1;


}
.wizard{
flex: 2;
height: 20px;
background-color: #ccc;
border: 1px solid;


}
.Resume{
    
    width: 40%;
    float: right;



}
.social-media img{
    width: 40px;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
    


}